captum
ffmpeg
imageio
matplotlib
matplotlib-base
numpy
numpy-base
oauthlib
pillow
pip
protobuf
psutil
pyyaml
scikit-image
scikit-learn
scipy
seaborn
setuptools
six
torchaudio
torchtriton
torchvision
tqdm
typing_extensions
