captum                    0.6.0                    pypi_0    pypi
einops                    0.7.0                    pypi_0    pypi
ffmpeg                    4.3                  hf484d3e_0    pytorch
grad-cam                  1.4.8                    pypi_0    pypi
huggingface-hub           0.18.0                   pypi_0    pypi
imageio                   2.34.0                   pypi_0    pypi
matplotlib                3.8.1                    pypi_0    pypi
matplotlib-base           3.8.0           py311ha02d727_0  
numpy                     1.26.0          py311h08b1b3b_0  
numpy-base                1.26.0          py311hf175353_0  
oauthlib                  3.2.2                    pypi_0    pypi
opencv-python             4.8.1.78                 pypi_0    pypi
pillow                    10.0.1          py311ha6cbd5a_0  
pip                       23.3            py311h06a4308_0  
protobuf                  4.23.4                   pypi_0    pypi
psutil                    5.9.8                    pypi_0    pypi
python                    3.11.5               h955ad1f_0  
python-dateutil           2.8.2              pyhd3eb1b0_0  
python-hostlist           1.23.0                   pypi_0    pypi
pytorch                   2.1.0           py3.11_cuda12.1_cudnn8.9.2_0    pytorch
pytorch-cuda              12.1                 ha16c6d3_5    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pyyaml                    6.0.1           py311h5eee18b_0  
quantus                   0.5.3                    pypi_0    pypi
scikit-image              0.22.0                   pypi_0    pypi
scikit-learn              1.3.2                    pypi_0    pypi
scipy                     1.11.3                   pypi_0    pypi
seaborn                   0.13.2                   pypi_0    pypi
setuptools                68.0.0          py311h06a4308_0  
six                       1.16.0             pyhd3eb1b0_1  
timm                      0.9.10                   pypi_0    pypi
torchaudio                2.1.0               py311_cu121    pytorch
torchtriton               2.1.0                     py311    pytorch
torchvision               0.16.0              py311_cu121    pytorch
tqdm                      4.66.1                   pypi_0    pypi
ttach                     0.0.3                    pypi_0    pypi
typing_extensions         4.7.1           py311h06a4308_0  

